* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(48, 197, 202, 0.1);
    border: 2px solid rgba(67, 231, 182, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 5px 5px 50px 50px rgba(252, 5, 5, 0.699);
    animation: animateBg 5s linear infinite;
  }
  
  .clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
  }
  
  .clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
  }
  
  .clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00ffaa;
    z-index: 2;
  }
  
  .hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .hand i {
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
  }
  