body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #000000; 
}
  
.checkbox {
    width: 223px;
    height: 60px;
    background-color: #1ee9a5; 
    border-radius: 30px;
    position: relative;
    color: rgb(0, 0, 0); 
    overflow: hidden;
    box-shadow: #ff0000;
    border-color: aqua;
}
  
#checkbox_toggle {
    display:none;
}
.checkbox .toggle {
    width: 100px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: grab;
    background: linear-gradient(40deg, #ff0000, #0011ff 70%); 
    transition: 0.4s;
    box-shadow: 0px 0px 3px rgb(20, 255, 184), 0px 0px 5px rgb(20, 255, 235); 
    }
  
.checkbox .slide {
    width: 230px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000000;
    cursor: pointer;
}
  
.checkbox .slide .text {
    font-size: 16px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
}
  
.check:checked + .checkbox .slide .toggle {
    transform: translateX(113px);
    background: linear-gradient(40deg, #e2f783, #fbeba3 70%); 
    box-shadow: -0px -0px 10px #f783ed, -0px -0px 3px #f783e4;
}
  
.check:checked + .checkbox .slide {
    background-color: #35ff02;
    color: #000000; 
}
