body { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 90vh; 
  background-color: #000000; 
} 

.container { 
  position: relative; 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 

.container .loading { 
  position: absolute; 
  width: 200px; 
  height: 200px; 
} 

.container .loading:nth-child(2) { 
  transform: translate(-25%, -25%) rotateX(180deg); 
  filter: hue-rotate(60deg); 
} 

.container .loading:nth-child(3) { 
  transform: translate(25%, 25%) rotate(180deg); 
  filter: hue-rotate(180deg); 
} 

.container .loading::before { 
  content: ''; 
  position: absolute; 
  width: 20px; 
  height: 20px; 
  background: #0f0; 
  box-shadow: 0 0 0 8px #0f03, 0 0 0 15px #0f01; 
  animation: animateloading 4s linear infinite; 
} 

.container .loading span { 
  position: absolute; 
  inset: 10px; 
  overflow: hidden; 
  transform: rotate(calc(90deg * var(--i))); 
} 

.container .loading span::before { 
  content: ''; 
  position: absolute; 
  width: 100%; 
  height: 4px; 
  background: #0f0; 
  transform: translateX(-100%); 
  animation: animate 4s linear infinite; 
  animation-delay: calc(1s * var(--i)); 
} 

.container .circle {
  .container .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    animation: animateCircle 5s linear infinite alternate;
  }
}

@keyframes animateCircle {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes animateloading { 
  0% { 
    transform: translate(2px,2px); 
  } 

  25% { 
    transform: translate(178px,2px); 
  } 

  50% { 
    transform: translate(178px,178px); 
  } 

  75% { 
    transform: translate(2px,178px); 
  } 

  100% { 
    transform: translate(2px,2px); 
  } 
} 

@keyframes animate { 
  0% { 
    transform: translateX(-100%); 
  } 

  50%,100% { 
    transform: translateX(100%); 
  } 
}
