body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 200px;
    height: 300px;
    background-color: transparent; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: hidden;

    

.flex-item img {
    width: 100%;
    height: 100%;
    display: block;
}

.text {
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    background-color: #fff; 
    border-top: 1px solid #ddd;
}
